/* Get Google Font(s) */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: open sans, sans-serif; 
  max-width: 80rem;
  color: #ddd;
  font-size: 85%;
  background: #171e29;
  max-width: 60rem;
  margin: auto;
}


@media screen and (min-width: 800px) {
  body {
    position: relative;
    overflow: visible;
  }
  
  body:after {
    display: block;
    content: " ";
    background: url(http://robertdundon.org/themes/boston/background.png) no-repeat 40rem #171e29;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -99;
    min-height: 30rem;
  }
  .glasspane:first-child {
    margin-right: 10rem;
  }
}
@media only screen and (max-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 3), only screen and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (max-width: 730px) {
  body {
    max-width: 30rem;
    min-width: 18rem;
    margin: .05rem .9rem;
  }
  body:after {
    background: none;
  }
}

h1, h2, h3 {
  font-family: open sans;
}
i {
  font-family: georgia, gentium, serif;
  text-rendering: optimizelegibility;
}

#plaswrap {
  max-width: 54rem;
}

.glasspane {
  width: 20em;
  float: right;
  margin: .4em;
  border: 1px double #ccc;
  padding: 0 .7em;
  box-shadow: 1px 2px #111;
  background: rgba(18, 18, 19, .9);
}

.glasspane  a {
	color: #d2e8be;
}

#footer {
  clear: both;
  line-height: 1.7;
}

#footer a {
  color: #d2e8be;
  font-weight: bold;
